<div class="ui container">
    <div class="ui top attached tabular menu">

        <a [routerLink]="routes.elements"
           routerLinkActive="active"
           class="item "
        >Elements</a>

        <a [routerLink]="routes.collections"
           routerLinkActive="active"
           class="item"
        >Components</a>

        <a [routerLink]="routes.views"
           routerLinkActive="active"
           class="item"
        >Views</a>

        <a [routerLink]="routes.mods"
           routerLinkActive="active"
           class="item"
        >Mods</a>

        <div class="right menu">
            <a routerLink="/" class="ui item">
                Home
            </a>
        </div>

    </div>


    <div class="ui bottom attached segment">

        <div *ngIf="showHome">
            <h1>Modules & Components with Routing</h1>
            <p>This app will demonstrate modules and components displayed trough routing.</p>
        </div>

        <div *ngIf="showNotFound">
            <h3>Snap! No page here to display...</h3>
        </div>

        <router-outlet *ngIf="showRoute"></router-outlet>

    </div>
</div>
